#Linux
# Ignoring all files in catalogs:
.vscode/
develop_videos/

# Ignoring all files in all catalogs
**/*.o
#Makefile_debug

# Ignoring all executable files in all catalogs
**/*.x
**/*.elf
**/*.code-workspace

#Windows
# Ignoring all files in catalogs:
.vs/
Build/

# Ignoring all files in all catalogs
